<!DOCTYPE html>
<html>
<head>
<body>
	<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
     <form>

     <input type="text" name="kata_kunci">
     <input type="submit" name="" value="cari data">	
     </form>
<h2>Branches</h2>

<table>
  <tr>
    <center> <th>city Id</th>
    <th>Company_id</th>
    <th>Address</th>
    <th>Person in charge</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th></th>
  </tr>
   <% @branche.each do |data| %>
  <tr>
    <td><%= data.city_id %></td>
    <td><%= data.company_id %></td>
    <td><%= data.address %></td>
    <td><%= data.person_in_charge%></td>
    <td><%= data.phone_number %></td>
    <td><%= data.email %></td>

  </tr>
 <% end %>
   
</table>
<%= link_to 'new', branc_path %>
<%= link_to 'table', index_path %>
</body>
</html>