<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<input type="text" name="kata_kunci">
	<input type="submit" name="daftar">

		<h2>courier</h2>
    <tr>
		<th>Name</th>
		<th>Address</th>
		<th>Phone number</th>
		<th>Email</th>
		<th>No sim</th>
	  </tr>	
	<% @courier.each do |data| %>

	<tr>
		<th><%= data.name %></th>
		<th><%= data.address %></th>
		<th><%= data.phone_number %></th>
		<th><%= data.no_sim %></th>
	</tr>
	<% end %>
  

</body>
</html>