<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
     <form>

     <input type="text" name="kata_kunci">
     <input type="submit" name="" value="cari data">	
     </form>
<h2>data pelanggan</h2>

<table>
  <tr>
    <center> <th>Id</th>
    <th>nama</th>
    <th>alamat</th>
    <th>no telepon</th>
    <th>Email</th>
    <th>Update</th>
    <th>Delete</th>
    <th></th>
  </tr>
   <% @customer.each do |data| %>
  <tr>
    <td><%= data.id %></td>
    <td><%= data.name %></td>
    <td><%= data.address %></td>
    <td><%= data.phone_number %></td>
    <td><%= link_to 'kirim email', {:controller =>  "customers",:action => "email", :id => data.id} %></td>
   <td><%= link_to 'update' %></td>
    <td><%= link_to 'delete' %></td></center>

  </tr>
 <% end %>
   
</table>
<%= link_to 'new', new_path %>
<%= link_to 'table', index_path %>
<%= link_to 'courier', courier_path %>

</body>
</html>