<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center><h1>input data customer</h1>
       <%= form_for @customer do |data_form| %>
       	    <%= data_form.text_field :name %>
       	    <%= data_form.text_field :address %>
       	    <%= data_form.text_field :phone_number %>
       	    <%= data_form.submit 'daftar'%>
                  penambahan data
       <% end %>
       <%= link_to "text", root_path %>
       <%= link_to "text", new_path %></center>
</body>
</html>