<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<style>
		table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
     <form>
     	<input type="text" name="kata_kunci">
     	<input type="submit" name="cari data">
     </form>

     <center><h2>Companies</h2>

<table style="width:100%">
  <tr>
    <h2><th>Name</th></h2>
    <h2><th>Address</th></h2>
    <h2><th>Phone number</th></h2>
  </tr>
  <% @companie.each do |data| %>
  <tr>
    <th><%= data.name %></th>
    <th><%= data.address %></th>
    <th><%= data.phone_number %></th>
  </tr></center>
  <% end %>
</table>
		<%= link_to 'new', new_path %>
		<%= link_to 'table', companies_new_path %>
    redirect to ams_racing_team_racing
</body>
</html>