<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center><h1>input data company</h1>
		<%= form_for @companie do |data_form| %>
			<%= data_form.text_field :name %>
			<%= data_form.text_field :address %>
			<%= data_form.text_field :phone_number %>
			<%= data_form.submit 'daftar' %>
		<% end %>
		<%= link_to "text", index_path %>
		<%= link_to "text", companies_new_path %></center>
</body>
</html>